.gallery {
  display: grid;
  grid-gap: 5px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;  
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*optional bg color*/
  background-color: rgba(
    0,
    0,
    0,
    0.65
  ); /*the following isn't necessary but will help center everything once we add buttons*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox-pict {
  position: relative;
  
  margin: auto;
  height: 85vh !important;
  width: 100%;
  max-width: 85vw !important;
}

.lightbox-img {
  object-fit: cover;
  max-height: 85vh !important;
  max-width: 85vw !important;
  width: 100%;
  border: 9px solid white;
}

.nav-wrapper {
  position: absolute;
  z-index: 20000;
  left:6vw;
  height: 85vh !important;
  width: 100%;
  width: 88vw !important;
}

.nav-prev {
  position: absolute;
  top: 50%;
  z-index: 100000;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  background: white !important;
  left: calc((88vw - 85vw) / 2);
  width: 40px;
  height: 150px;
  transform: translateY(-50%) translateX(-100%);
}

.nav-next {
  position: absolute;
  top: 50%;
  z-index: 100000;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  background: white !important;
  right: calc((88vw - 85vw) / 2);
  width: 40px;
  height: 150px;
  transform: translateY(-50%) translateX(100%);
}

.abc {
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);  
  color: black;
}



